.dataTable tr{
    height: 60px;
}
.dataTable {border-collapse:collapse;}
/*.dataTable th,.dataTable td {border: 1px solid #000;}
.dataTable tbody{
    border-bottom: 1px solid #000;
}*/
.dataTable tbody,.dataTable thead,.dataTable tfoot{
    display: block;
    height: 100%;
}
.dataTable tbody{
    overflow-y: auto;
    height: 200px;
}
.dataTable tbody tr:nth-child(1) td{
    border-top: none;
}
.dataTable tbody tr:last-child td{
    border-bottom: none;
}
.dataTable tbody td{
    width: 200px;
}
.dataTable thead th,.dataTable tfoot td{
    width: 193px;
}