#menusList{
    background: #000;
    color: #fff;
    position: absolute;
    display: none;
    z-index: 9;
    list-style: none;
    padding-left:0;
}
#menusList:hover{
    cursor: pointer;
}
#menusList li{
    text-align: center;
    padding: .2rem .3rem;
}
#menusList li:hover{
    background: #fff;
    color: #000;
}